body{
  background-image: url("../img/emilia-about.jpg");
  background-position: right;
  background-size: 50%;
  background-repeat: no-repeat;
  font-family: Work Sans, sans-serif;
  border-top: 50px;
  text-decoration: none;
}

menu{
  background-color: rgba(255,255,255,0.4);
  color: grey;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  origin: right;
  text-align: right;
  text-decoration: none;
}


p{
  color: lightseagreen;
  font-size: 9px;
  text-indent: inherit;
}

blockquote{
color: lightseagreen;
}

h1{
  font-family: Raleway, sans-serif;
  font-weight: bolder;
  font-size: 40px;
}
